[package]
name = "master-data"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde.workspace = true
shared = { path = "../../shared" }
